body{
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: Verdana;
}
{
	outline: 1px solid red;
}
li{
	list-style-type:none; 
}
a{
	text-decoration: none;
}
.top,.footer{
	background: #312d38; 
}
.logo span{
	font-weight: bold;
	font-size: 40px;
}
.logo{
	font-size: 40px;
	display: inline-block;	
}
.logo2{
	font-size: 30px;	
}
.logo2 span{
	font-weight: bold;
	font-size: 30px;
}
.bg-gray{
  background: #f0f0f0;
}
.pd{
	padding: 40px;
}
.big{
	font-size: 25px;
	font-weight: 600;
}
img{
	width: 100%;
}
.redes div{
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: 1px dashed gray;
	float: left;
}
.redes i{
  font-size: 30px;
  padding: 10px;
  color: gray;
  text-align: center;
}
hr{
	border-top: 1px solid gray;
}
.submenu li{
	display: inline;
	position: relative;
}
.galeria{
	display: block;
}
.galeria h4,.galeria .icon{
	display: inline;
}
.galeria .icon{
	float: right;
}
.project-encabezado{
	display: block;
}
.follow img{
	height: 145px;
	width: 150px;
	display: inline;
}
.abc-small{
	font-size: 10px;
}
.purple{
	/*color: rgba(150,100,230,.9);*/
	color: gray;
}
.mg0auto{
	left: 45%;
	position: relative;
}
.radius{
	border-radius: 25%;
}
.bg-pink{
	background: #D82C69;
	padding: 0 4px; 
}
.pink{
	color: #94294f;
}









